import {StyleSheet} from 'react-native'

const CardAlbum = StyleSheet.create({
  card: {
    flex: 1,
    margin: 5,
    borderRadius: 12,
    backgroundColor: "#fff",
    elevation: 3,
  },
  image: {
    borderTopLeftRadius: 12,
    borderTopRightRadius: 12,
    height: 150,
  },
  content: {
    alignItems: "center",
    paddingVertical: 6,
  },
  title: {
    fontSize: 14,
    fontWeight: "600",
    textAlign: "center",
  },
  subtitle: {
    fontSize: 12,
    color: "#666",
    textAlign: "center",
  },
});

export default CardAlbum;